.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 40px;
  
}

.image-container img{
  cursor: pointer;
}
.flickr-image:hover{
     transform: scale(1.1);
}

button{
  color: white;
  background-color:rgb(1, 1, 113) ;
  margin-right: 8px;
}
.main-container{
  
  margin: 20px ; 
  align-items: center;
  text-align: center;
  
  
}
.heading{
  color: rgb(5, 5, 125);
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
  margin-bottom: 15px;
}
.title{
  margin: 30px auto;
  text-align: center;
  color: rgb(3, 3, 150);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}